html {
    font-size: calc(0.5em + 0.75vw);
    display: grid;
    overflow: hidden;
}

body {
    background-color:#ffcdb2;
    font-family: 'Changa', sans-serif;
}

header {
    color: rgb(24,24,24);
    text-align: center;
}

.container {
    align-content: center;
}

button {
    margin-bottom: 2px;
    background-color:#b5838d;
}

button:hover {
    background-color:#e5989b;
}

button:active {
    background-color:#6d6875;
}

.card {
    border-color:#6d6875;
}

.card-header {
    background-color:#e5989b;
}

.card-body {
    background-color:#ffb4a2;
}

@media all and (orientation: portrait) {

    section {
        min-width:100%;
    }

}